/*add css*/

.mainheader {
    text-align: left;
}
h1 {
  display: inline-block;
  background-color: red;
  padding: 30px;
  font-size: 35px;
  color: white;
  text-align: left;
  font-family: Helvetica;
}
a {
  float: right;
  background-color: red;
  padding: 30px;
  color: white;
  text-align: left;
  font-family: Helvetica;
}

h2 {
  color: black;
  text-align: left;
  font-family: Helvetica;
  font-weight: bold;
}
h6 {
  color: black;
  text-align: left;
  font-family: Helvetica;
  font-weight: bold;
}

p {
  color: black;
  text-align: justify;
  font-family: Helvetica;
}
