/*add css*/

.mainheader {
    text-align: left;
}
h1 {
  display: inline-block;
  background-color: red;
  padding: 30px;
  font-size: 35px;
  color: white;
  font-family: Helvetica;
}
a {
  float: right;
  text-align: right;
  text-align: justify;
  color: white;
  font-family: Helvetica;
}

.links {
  float: right;
  background-color: grey;
  width: 100%;
  padding: 30px;
}

.leftsection {
  color: black;
  text-align: justify;
  font-family: Helvetica;
}

img {
    display: block;
    width: 100%;
}

h2 {
  color: black;
  text-align: left;
  font-family: Helvetica;
  font-weight: bold;
}
h6 {
  color: black;
  text-align: left;
  font-family: Helvetica;
  font-weight: bold;
}
